.titleLabelLvs {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5%;
	color: #FFFFFF;
	font-size: 2vw;
	font-weight: 600;
}

.leftArrowLvs {
	position: absolute;
	left: 5%;
	transform: translateX(-50%);
	top: 25%;
	color: #FFFFFF !important;
	background-color: transparent !important;
	border-color: transparent !important;
	font-size: 5vw;
}

.leftArrowLvs:focus, 
.leftArrowLvs:active {
  outline: none !important;
  box-shadow: none !important;
}


.rightArrowLvs {
	position: absolute;
	left: 95%;
	transform: translateX(-50%);
	top: 25%;
	color: #FFFFFF !important;
	background-color: transparent !important;
	border-color: transparent !important;
	font-size: 5vw;
}

.rightArrowLvs:focus, 
.rightArrowLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.whiteSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 25%;
	transform: translateX(-50%);
	top: 25%;
	background-color: #FFFFFF !important;
	border-color: #000000 ;
	border-radius: 10px;
}

.whiteSkinLvs:focus, 
.whiteSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.darkSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 40%;
	transform: translateX(-50%);
	top: 25%;
	background-color: #182a2c !important;
	border-color: #000000;
	border-radius: 10px;
}

.darkSkinLvs:focus, 
.darkSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.blueSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 60%;
	transform: translateX(-50%);
	top: 25%;
	background-color: #2929ce !important;
	border-color: #000000;
	border-radius: 10px;
}

.blueSkinLvs:focus, 
.blueSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.redSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 75%;
	transform: translateX(-50%);
	top: 25%;
	background-color: #b52c2c !important;
	border-color: #000000;
	border-radius: 10px;
}

.redSkinLvs:focus, 
.redSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.yellowSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 25%;
	transform: translateX(-50%);
	top: 50%;
	background-color: #c6c62a !important;
	border-color: #000000;
	border-radius: 10px;
}

.yellowSkinLvs:focus, 
.yellowSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.greenSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 40%;
	transform: translateX(-50%);
	top: 50%;
	background-color: #259d31 !important;
	border-color: #000000;
	border-radius: 10px;
}

.greenSkinLvs:focus, 
.greenSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.orangeSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 60%;
	transform: translateX(-50%);
	top: 50%;
	background-color: #cf8f2a !important;
	border-color: #000000;
	border-radius: 10px;
}

.orangeSkinLvs:focus, 
.orangeSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.purpleSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 75%;
	transform: translateX(-50%);
	top: 50%;
	background-color: #9e2acf !important;
	border-color: #000000;
	border-radius: 10px;
}

.purpleSkinLvs:focus, 
.purpleSkinLvs:active {
  outline: none !important;
  box-shadow: none !important;
}

.playButtonLvs {
	position: absolute;
	width: 10vw;
	height: 10vh;
	left: 50%;
	transform: translateX(-50%);
	top: 70%;
	color: #FFFFFF !important;
	background-color: transparent !important;
	border-color: transparent !important;
	font-size: 2vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
}

.playButtonLvs:focus, 
.playButtonLvs:active {
  outline: none !important;
  box-shadow: none !important;
}