.groupFormLvs {
	position: absolute;
	top: 50%;
}


.leftArrowLvs {
	position: absolute;
	left: 5%;
	transform: translateX(-50%);
	top: 25%;
	color: #FFFFFF;
	background-color: transparent;
	border-color: transparent;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.rightArrowLvs {
	position: absolute;
	left: 95%;
	transform: translateX(-50%);
	top: 25%;
	color: #FFFFFF;
	background-color: transparent;
	border-color: transparent;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.whiteSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 25%;
	transform: translateX(-50%);
	top: 20%;
	background-color: #FFFFFF;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.darkSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 40%;
	transform: translateX(-50%);
	top: 20%;
	background-color: #182a2c;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.blueSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 60%;
	transform: translateX(-50%);
	top: 20%;
	background-color: #2929ce;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.redSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 75%;
	transform: translateX(-50%);
	top: 20%;
	background-color: #b52c2c;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.yellowSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 25%;
	transform: translateX(-50%);
	top: 45%;
	background-color: #c6c62a;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.greenSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 40%;
	transform: translateX(-50%);
	top: 45%;
	background-color: #259d31;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.orangeSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 60%;
	transform: translateX(-50%);
	top: 45%;
	background-color: #cf8f2a;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.purpleSkinLvs {
	position: absolute;
	width: 5vw;
	height: 5vh;
	left: 75%;
	transform: translateX(-50%);
	top: 45%;
	background-color: #9e2acf;
	border-color: #000000;
	border-radius: 10px;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}

.playButtonLvs {
	position: absolute;
	width: 10vw;
	height: 10vh;
	left: 50%;
	transform: translateX(-50%);
	top: 70%;
	color: #FFFFFF;
	background-color: transparent;
	border-color: transparent;
	font-size: 2vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}