.rangeFormLvs {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
}

.labelFormLvs {
	color: #FFFFFF;
	font-size: 1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 500;
}

.controlFormLvs {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60%;
}

.nextButtonLvs {
	position: absolute;
	width: 10vw;
	height: 10vh;
	left: 50%;
	transform: translateX(-50%);
	top: 85%;
	color: #FFFFFF;
	background-color: transparent;
	border-color: transparent;
	font-size: 2vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	z-index: 10;
	outline: none;
  	box-shadow: none;
}