.containerLvs {
	position: relative;
}

.titleLvs {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0%;
	color: #FFFFFF;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
	cursor: pointer;
}

.filterLvs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	pointer-events: none;
}

.skinBoxLvs {
	position: relative;
	width: 60vw;
	height: 35vh;
	left: 50vw;
	transform: translateX(-50%);
	top: 45vh;
	background-color: rgba(0, 0, 0, 0.35);
	border: 2px solid #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.settingsBoxLvs {
	position: relative;
	width: 30vw;
	height: 75vh;
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	background-color: rgba(0, 0, 0, 0.35);
	border: 2px solid #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
