.global-modal {
	bottom: 50%;
	left: 50%;
	transform: translateY(25%);
}

.global-quit-button {
    display: flex;         /* Utiliser flexbox pour disposer les éléments */
    gap: 20px;             /* Espacer les boutons de 20px */
    justify-content: center; /* Centrer les boutons horizontalement (optionnel) */
}

.global-quit-yes {
	color: #FFFFFF;
	background-color: #00FF00 !important;
	border: #000000 !important;
	box-shadow: none !important;
}

.global-quit-no {
	color: #FFFFFF;
	background-color: #FF0000 !important;
	border: #000000 !important;
	box-shadow: none !important;
}

.global-friend-tab {
	justify-content: center;
	gap: 25%;
}

.global-friend-searchbar {
	width: 100%;
	display: flex;
	justify-content: center;
}

.friend-list {
	list-style-type: none; /* Enlève les puces */
	padding-left: 0; /* Retire le retrait à gauche */
	margin: 0; /* Supprime les marges par défaut */
  }

.friend-item {
	display: block; /* Prend toute la largeur disponible */
  width: 100%; /* Assure que chaque élément prend toute la largeur */
  padding: 10px; /* Ajoute de l'espace autour du texte */
  margin-bottom: 5px; /* Ajoute un espace entre les éléments */
  border: 1px solid #ccc; /* Ajoute une bordure autour de chaque élément */
  border-radius: 4px; /* Arrondit légèrement les coins de la bordure */
  background-color: #f9f9f9; /* Donne un fond léger pour mieux voir l'encadrement */
}