.containerLogin {
	position: relative;
}

.flouFilterLogin {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	pointer-events: none;
}

.flouCanvaLogin {
	filter: blur(5px);
	width: 100%;
	height: 100%;
}

.transpBoxLogin {
	position: absolute;
	width: 20vw;
	height: 50vh;
	left: 50vw;
	transform: translateX(-50%);
	top: 35vh;
	background-color: rgba(0, 0, 0, 0.35);
	border: 2px solid #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.TitleLogin {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0%;
	color: #FFFFFF;
	font-size: 5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;
}

.userFormLogin {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 15%;
}

.userTitleLogin {
	position: relative;
	color: #FFFFFF;
	font-size: 1.5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
}

.passFormLogin {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 40%;
}

.passTitleLogin {
	position: relative;
	color: #FFFFFF;
	font-size: 1.5vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
}

.passShowButtonLogin {
	position: absolute;
	left: 78%;
	top: 51%;
    cursor: pointer;
}

.loginButtonLogin {
	position: absolute;
    width: 120px;
    height: 50px;
	left: 50%;
	transform: translateX(-50%);
	top: 70%;
    cursor: pointer;
	font-weight: 1000;
}

.registerButtonLogin {
	position: absolute;
    width: 100px;
    height: 40px;
	left: 85%;
	transform: translateX(-50%);
	top: 90%;
    cursor: pointer;
	font-weight: 700;
}

.textLogin {
	color: #FFFFFF;
	font-weight: 700;
	opacity: 1;
    outline: none;
    box-shadow: none;
    background-color: inherit;
	border: 0.8px solid #869fa941 !important;
}

.textLogin::placeholder {
	color: #FFFFFF;
    font-weight: 700;
	opacity: 1;
}