.local-skin-btn {
	left: var(--btn-left);
	top: var(--btn-top);
	background-color: var(--btn-color) !important;
	border-color: #000000 !important;
	border-radius: 10px;
}

.local-skin-btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.local-skin-btn-white {--btn-color: #FFFFFF; --btn-left: 30%; --btn-top: 30%;}
.local-skin-btn-dark {--btn-color: #182a2c; --btn-left: 70%; --btn-top: 30%;}
.local-skin-btn-blue {--btn-color: #2929ce; --btn-left: 30%; --btn-top: 45%;}
.local-skin-btn-red {--btn-color: #b52c2c; --btn-left: 70%; --btn-top: 45%;}
.local-skin-btn-yellow {--btn-color: #c6c62a; --btn-left: 30%; --btn-top: 60%;}
.local-skin-btn-green {--btn-color: #259d31; --btn-left: 70%; --btn-top: 60%;}
.local-skin-btn-orange {--btn-color: #cf8f2a; --btn-left: 30%; --btn-top: 75%;}
.local-skin-btn-purple {--btn-color: #9e2acf; --btn-left: 70%; --btn-top: 75%;}
